<div class="card border-dark mb-3">
    <div class="card-body post">
        <h5 class="card-title title">Create Nomination<a href="/dashboard/nomination/{{id}}">{{title}}</a></h5>
        <form id="new-nom-form">
            <div class="form-group row">
                <label for="nom-title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nom-title" minlength="5">
                </div>
            </div>
            <div class="form-group row">
                <label for="barge_name" class="col-sm-2 col-form-label">Barge Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="barge_name" minlength="5">
                </div>
            </div>
            <div class="form-group row">
                <label for="move_date" class="col-sm-2 col-form-label">Move Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="move_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="quantity">
                </div>
            </div>
            <div class="form-group row">
                <label for="product_name" class="col-sm-2 col-form-label">Product Name</label>
                <div class="col-sm-10">
                    <select class="form-control" id="product_name">
                        <option>regular gasoline</option>
                        <option>premium gasoline</option>
                        <option>blendstocks</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="tank_number" class="col-sm-2 col-form-label">Tank Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tank_number" minlength="1">
                </div>
            </div>
            <div class="form-group row">
                <label for="inspector_name" class="col-sm-2 col-form-label">Inspector Name</label>
                <div class="col-sm-10">
                    <select class="form-control" id="inspector_name">
                        <option>AmSpec</option>
                        <option>Inspectorate</option>
                        <option>Camin</option>
                        <option>Intertek</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="counterparty_name" class="col-sm-2 col-form-label">Counterparty Name</label>
                <div class="col-sm-10">
                    <select class="form-control" id="counterparty_name">
                        <option>Phillips 66</option>
                        <option>BP</option>
                        <option>Global</option>
                        <option>GEW</option>
                        <option>ATMI</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create Nomination</button>
                </div>
            </div>
        </form>
    </div>
</div>


{{#each noms}}
    {{>nom-info this}}
{{/each}}

<script src="/javascript/add-nom.js"></script>