<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div class="dropdownMenus col-md-12">
  <div class='form-field'>
    <label for='bargeFilter'>Nomination</label>
    <select id='bargeFilter' class='form-control'>
      <option>Choose Nomination</option>

      {{#each Nomination}}
      <option value="{{this}}">{{this.Nomination}}</option>
      {{/each}}
    </select>
  </div>
  
  <div class='form-field'>
    <label for='UserFilter'>User</label>
    <select id='UserFilter' class='form-control'>
      <option>Choose User</option>
      {{#each User}}
      <option value="{{this}}">{{this.User}}</option>
      {{/each}}
    </select>
  </div>
      <div class=‘form-field’>
    <label for=‘CommentBox’>Comment</label>
    <textarea id=‘CommentBox' class=‘form-control’></textarea>
  </div>
</div>