<section id = "search" class="search-wrap"
<h1> Find a Counterparty</h1>
<form action=/search/counterparty class="search-form">
<input type='search' name='counterparty_name' placeholder="counterparty">
<input type="submit" value= "Search">
</form>
</section>
<section id = "search" class="search-wrap"
<h1> Find an Inspector</h1>
<form action=/search/inspector class="search-form">
<input type='search' name='inspector' placeholder="Inspector">
<input type="submit" value= "Search">
</form>
</section>
<script src="/javascript/add-nom.js"></script>
