<!-- home.handlebars -->
<div>
<img src="../assets/barges.jpg" class="img-fluid" alt="Barges">
</div>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search by Counterparty</h5>
        <p class="card-text"> Phillips 66, BP, Global, GEW, ATMI, Koch</p>
        <a href="#" class="btn btn-primary">Search</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search by Inspector</h5>
        <p class="card-text"> AmSpec, Inspectorate, Camin, Intertek, NMK</p>
        <a href="#" class="btn btn-primary">Search</a>
      </div>
    </div>
  </div>
</div>


<script src="/javascript/home-routes.js"></script>